
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {

    height: auto;
    font-family:  serif, Geneva, Verdana, sans-serif;
    background-color: #6791a2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px);
    z-index: -1;
}
    


.contenedor-principal{
width: 100%;
height: 100%;
display: flex;
justify-content:space-around ;
}

.tarjeta {
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5 50px 50px rgba(240, 173, 173, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}


.tarjeta:hover {
    transform: translateY(-10px);
}

.foto-perfil {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 30px; 
    margin: 0 auto 1rem;
    overflow: hidden;
    
}

.image { 
    width: 100%;
    height: 100%;

}

h1 {
    color: rgb(0, 0, 0); 
    -webkit-text-stroke: 1px black;
}


.subtitulo {
    color: #070607;
    font-weight: unset;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.habilidades {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}

.tag {
    background-color: #e7f3ff;
    color: #000000;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
}

.btn-contacto {
    margin-top: 3rem;
    background-color: #e7f3ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 16px 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    
}

.btn-contacto:active {
    background-color: #0056b3;
}